@tailwind base;
@tailwind components;
@tailwind utilities;


.show {
  @apply block
}

.modal-content{
  @apply flex flex-col 
}
.modal-content h1{
  @apply mb-4 text-[32px]
}
.modal-content p{
  @apply mb-4 text-[18px]
}
.lottie-animation-container {
  width: var(--lottie-animation-container-width);
  height: var(--lottie-animation-container-height);
  background-color: var(--lottie-animation-container-background-color);
  overflow: hidden;
  margin: 0;
}
.dropzone {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
  border: 2px dashed #41b883;
  background-color: #fff;
  transition: 0.3s ease all;}

  .dropzone label {
    padding: 8px 12px;
    color: #fff;
    background-color: #41b883;
    transition: 0.3s ease all;
  }

  .dropzone input {
    display: none;
  }


.active-dropzone {
  color: #fff;
  border-color: #fff;
  background-color: #41b883;}

  .active-dropzone label {
    background-color: #fff;
    color: #41b883;
  }
.bio{
  @apply inline-flex items-center
}
.nav-item{
  @apply flex flex-1 items-center justify-center sm:items-stretch sm:justify-start
}
.nav-item .router-link-active{
  @apply bg-gray-900 text-white
}
.profile{
  @apply overflow-hidden h-screen flex flex-col justify-center bg-[url('src/assets/1.jpeg')] bg-no-repeat bg-cover 
}
.settings{
  @apply  overflow-hidden flex flex-col justify-center bg-[url('src/assets/3.jpg')] bg-no-repeat bg-cover 
}
.modal {
  /*@applyflexjustify-centeritems-centerh-screenw-screenfixedtop-0left-0*/position: fixed;
  background-color: rgba(0,0,0, 0.4);
  background-image: url(./assets/desk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  display: flex;
  border-radius: 6px;
  justify-content: center;
  height: 100vh;
  width: 100%;
  align-items: center;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */

}

.form-button .lottie-animation-container {
  width: var(--lottie-animation-container-width);
  height: var(--lottie-animation-container-height);
  background-color: var(--lottie-animation-container-background-color);
  overflow: hidden;
  margin: 0;

  position: fixed;
  margin-top: -88px;

  width: 500px;
}
.redirect .lottie-animation-container {
  position: absolute;
  bottom: 5px;
}
.redirect h2{
  font-weight: bold;
  font-family: cursive;
}

.btn-reg .lottie-animation-container {
  width: var(--lottie-animation-container-width);
  height: var(--lottie-animation-container-height);
  background-color: var(--lottie-animation-container-background-color);
  overflow: hidden;
  margin: 0;

  position: absolute;
  margin-top: -88px;

  width: 550px;
}
.btn-reg{
@apply  w-full text-blue-900 border py-3 border-blue-500 hover:border-transparent hover:text-white font-semibold text-center bg-transparent hover:bg-blue-700 hover:font-bold
}
.modal-inner {
  @apply relative rounded-md w-[300px] max-w-[640px] bg-white  shadow-lg shadow-black z-[1]
}
.modal-inner .icon{
  @apply absolute top-4 right-4 text-[20px] cursor-pointer z-[1];
}
.dropdown {
  @apply absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none
}

.drp-item {
  @apply block  py-2 text-sm text-gray-700 cursor-pointer
}

.text-fields-error {
  @apply appearance-none block w-full border border-red-500 rounded-md text-sm sm:text-sm h-9 px-4 mt-2
}
.text-field-error {
  /* @apply appearance-none border-red-500 rounded-md text-sm sm:text-sm h-9 py-1 px-2 mr-3 */
  @apply appearance-none bg-slate-200 border border-red-500 text-gray-700 pl-2 leading-tight focus:border focus:outline-0
}

.error-text {
  @apply text-red-600 w-max
}

.drp-btn {
  @apply flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800
}

.form-button {
  @apply w-full text-blue-900 border py-3 border-blue-500 font-semibold text-center bg-transparent cursor-pointer
}

.input-fields {
  @apply appearance-none bg-transparent border-t-0 border-x-0 border-b w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:border-none focus:outline-0
}
.input-field {
  @apply appearance-none bg-transparent border-t-0 border-x-0 border-b pl-2 text-gray-700 leading-tight focus:border-none focus:outline-0
}
input[disabled] {
  cursor: not-allowed;
}
button[disabled] {
  cursor: not-allowed;
  display:none
}
.checkbox-wrapper-4 {
  box-sizing: border-box;
  margin-top: 0.5rem;
  margin-bottom: -1rem;

}

.checkbox-wrapper-4 .cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 6px 0px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s ease;
  display: inline-block;

}

.checkbox-wrapper-4 .cbx.not-valid:before {
  border: 1px solid red;
}

.checkbox-wrapper-4 .cbx:hover {
  background: rgba(0, 119, 255, 0.06);
}


.checkbox-wrapper-4 .cbx span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}


.checkbox-wrapper-4 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}

.checkbox-wrapper-4 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}


.checkbox-wrapper-4 .cbx span:last-child {
  line-height: 18px;
}



.checkbox-wrapper-4 .cbx:hover span:first-child {
  border-color: #07f;
}


.checkbox-wrapper-4 .inp-cbx {
  position: absolute;
  visibility: hidden;
}


.checkbox-wrapper-4 .inp-cbx:checked+.cbx span:first-child {
  background: #07f;
  border-color: #07f;
  animation: wave-4 0.4s ease;
}



.checkbox-wrapper-4 .inp-cbx:checked+.cbx span:first-child svg {
  stroke-dashoffset: 0;
}


.checkbox-wrapper-4 .inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 640px) {
  .checkbox-wrapper-4 .cbx {
    width: 100%;
    display: inline-block;
  }

}

@-moz-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@-webkit-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@-o-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
